server {
  listen 80 default_server;
  server_name _;
  location / {
    proxy_pass http://{{ hostvars['reactjs_1']['ansible_default_ipv4']['address'] }}:{{ reactjs_host_port }};
    proxy_set_header X-Forwarded-Host $host;
    proxy_set_header X-Forwarded-Server $host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
  }

}
